<h2 class="my-3 px-2">Сменить пароль</h2>
<div class="row">
  <div class="col-md-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false },
                 html: { method: :put }) do |f| %>
      <div class="px-2">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <div class="field mb-3 d-flex flex-row align-items-center justify-content-start">
        <div class="flex-fill px-2">
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email",
                            placeholder: "Email" %>
        </div>
        <div class="">
          <%= bi_icon('envelope') %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-3 d-flex flex-row align-items-center justify-content-start">
        <div class="flex-fill px-2">
          <i><%= I18n.t('devise.password_old') %></i>
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password",
                               placeholder: I18n.t('devise.password_lenght', pw: @minimum_password_length) %>
        </div>
        <div class="">
          <%= bi_icon('key') %>
        </div>
      </div>

      <div class="field mb-3 d-flex flex-row align-items-center justify-content-start">
        <div class="flex-fill px-2">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password",
                               placeholder: "Подтверждение пароля" %>
        </div>
        <div class="">
          <%= bi_icon('key-fill') %>
        </div>
      </div>

      <div class="field mb-3 d-flex flex-row align-items-center justify-content-start">
        <div class="flex-fill px-2">
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password",
                               placeholder: "Текущий пароль" %>
        </div>
        <div class="">
          <%= bi_icon('key') %>
        </div>
      </div>

      <div class="mt-4 px-2">
        <button type="submit" class="btn btn-success mb-3">Обновить</button>
      </div>
    <% end %>

    <h4 class="mt-3 px-2">Удалить профиль</h4>

    <div class="my-3 px-2"><%= button_to 'Удалить', registration_path(resource_name),
                                         form: { data: { turbo_confirm: I18n.t('confirm_user') } },
                                         method: :delete, class: "btn btn-success" %></div>


    <div class="px-2">
      <%= link_to 'вернуться', :back %>
    </div>
  </div>
</div>
