<table class="table table-hover table-sm">
  <table class="table align-middle">
    <tbody>
    <tr>
      <td class="text-break"><%= comment.body %></td>

      <td>
        <% if comment.user.present? %>
          <%= render partial: 'users/user', object: comment.user %>
        <% else %>
          <em><strong><%= comment.user_name %></strong></em>
        <% end %>
      </td>

      <td><%= l comment.created_at, format: :short %></td>

      <td>
        <% if current_user_can_edit?(comment) %>
          <%= button_to 'Удалить', event_comment_path(comment.event, comment), method: :delete,
                        form: { data: { turbo_confirm: t('.destroy_confirm') } },
                        class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</table>
