<%= form_for event, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: event} %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :datetime %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mt-4">
    <%= f.submit 'Сохранить', class: 'btn btn-success' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
