<h1 class="my-3"><%= t('events.pincode_access') %></h1>

<%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
  <div class="">
    <%= label :pincode, t('events.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="my-4">
    <%= submit_tag t('events.confirm'), class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to t('events.to_index'), events_path %>
