<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
<!--  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "BBQ" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
<div class="navbar navbar-expand navbar-light bg-light">
  <div class="container justify-content-start">
    <%= link_to I18n.t('app.name'), root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-tabs">
        <% if user_signed_in? %>
          <li class="nav-item"><%= button_to I18n.t('profile'), current_user, method: :get,
                                             class: 'btn btn-light' %></li>
          <li class="nav-item"><%= button_to I18n.t('sign_out'), destroy_user_session_path, method: :delete,
                                             class: 'btn btn-light' %></li>
        <% else %>
          <li class="nav-item"><%= link_to I18n.t('sign_in'), new_user_session_path,
                                           class: 'nav-link link-dark' %></li>
          <li class="nav-item"><%= link_to I18n.t('log_in'), new_user_registration_path,
                                           class: 'nav-link link-dark' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <% if flash[:notice].present? %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= flash[:notice] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% elsif flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>

